<h1>Arestas</h1>
<div class="scrollable">
	<p>
		<b id="arestas.cadastradas">0</b><br/>
		<span id="arestas.cadastradas.descricao">Aresta conectada</span>
	</p>

	<div class="help">
		<p>Arestas representam os cursos disponíveis. Podem ter sentido único ou permitir ida e volta.</p>
		<p>Para adicionar arestas, clique em um ponto no mapa para selecionar a partida e depois clique em outro ponto para selecionar um destino.</p>
		<p>Para cancelar e só clicar no ponto de partida novamente. Se precisar remover uma aresta, é só clicar nela.</p>
	</div>
<div>