<h1>Vértices</h1>
<div class="scrollable">
	<p>
		<b id="vertices.cadastrados">0</b><br/>
		<span id="vertices.cadastrados.descricao">Vértices cadastrados</span>
	</p>
	<p>
		<b id="vertices.isolados">0</b><br/>
		<span  id="vertices.isolados.descricao">Vértices desconectados</span>
	</p>

	<div class="help">
		<p>Normalmente os vértices ficam nos cruzamentos das ruas, mas podem também representar uma mudança de curso em uma via.</p>
		<p>Para adicionar vértices, clique em um ponto no mapa. Depois de adicionado, você pode move-los livremente. Caso precise, para remover um vértice basta clicar nele. Cuidado: as arestas conectadas também serão removidas!</p>
	</div>
<div>