html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dedede;
}

#map {
  left: 2px;
  top: 2px;
  float: left;
  width: calc(100% - 320px);
  height: calc(100% - 4px);
}

#menu {
  float: right;
  top: 2px;
  width: 316px;
  height: calc(100% - 4px);
}